#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family:  "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

/* PAGE STRUCTURING AND HEADERS */

body {
  background-image: url('/assets/black-technology-banner.png');
  background-position: center;
  z-index: -1;
}

h1 {
  text-decoration: underline;
}

.page-margin {
  padding-top: 5rem;
  padding-bottom: 8rem;
} 

/* NAVIGATION */

.nav-link {
  margin-top: 5%;
  margin-bottom: 5%;
  color: white !important;
}

.nav-link:hover {
  background-color: #EF626C;
}

.bi-list {
  fill: white;
}

/* SKILLS BUTTONS */

.skills-btn {
  max-width: 40vw;
  height: 6rem;
}

/* PROJECT CARDS */
.project-card {
  img {
    width: 20rem;
    height: 14rem;
  }
}

/* SHAPES */

.shapes-container {
  overflow-x: hidden;
  overflow-y: hidden;
  mix-blend-mode: difference;
}

#header-circle, #header-square, #header-triangle {
  width: 9rem;
  height: 9rem;
  color: white;
  z-index: -1;

  animation-name: shape-spin;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#header-circle {
  left: 70%;
  top: 35%;
  animation-direction: reverse;
}

#header-square {
  right: 76%;
  top: 10%;
}

#header-triangle {
  right: 50%;
  top: 65%;
  animation-direction: reverse;
}

/* ANIMATIONS */

@keyframes shape-spin {
  0% {rotate: 0}
  25% {rotate: 90deg}
  50% {rotate: 180deg}
  75% {rotate: 270deg}
  100% {rotate: 360deg}
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BREAKPOINTS */

@media (min-width: 768px) {

  #header-circle, #header-square, #header-triangle {
      width: 15rem;
      height: 15rem;
      color: white;
      z-index: -1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  #header-circle, #header-square, #header-triangle {
    animation-duration: 48s;
  }
}


/* idk what this is for exactly but it keeps the footer looking nice */
.card {
  padding: 2em;
}
