/* make the customizations */

$theme-colors: (
  'primary': #6709FF,
);

$btn-close-width: 2em;
$btn-close-height: $btn-close-width;
$btn-close-padding-x: .5em;
$btn-close-padding-y: $btn-close-padding-x;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";